USE [master]
GO
/****** Object:  Database [Videocards]    Script Date: 10/1/2017 8:11:44 PM ******/
CREATE DATABASE [Videocards]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Videocards', FILENAME = N'C:\Users\pdlaz\Videocards.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Videocards_log', FILENAME = N'C:\Users\pdlaz\Videocards_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Videocards].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Videocards]
GO
USE [Videocards]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/1/2017 8:11:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[brand] [varchar](max) NULL,
	[product_name] [varchar](max) NULL,
	[shipping] [varchar](max) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([brand], [product_name], [shipping], [Id]) VALUES (N'GIGABYTE', N'GIGABYTE GeForce GTX 1060 DirectX 12 GV-N1060WF2OC-3GD 3GB 192-Bit GDDR5 PCI Express 3.0 x16 ATX Video Card', N'$4.99 Shipping', 1)
INSERT [dbo].[Products] ([brand], [product_name], [shipping], [Id]) VALUES (N'GIGABYTE', N'GIGABYTE GeForce GTX 1080 AORUS 8GB DirectX 12 GV-N1080AORUS-8GD R2 256-Bit GDDR5X PCI Express 3.0 x16 Video Card| GV-N1080AORUS-8GD R2', N'$4.99 Shipping', 2)
INSERT [dbo].[Products] ([brand], [product_name], [shipping], [Id]) VALUES (N'AMD', N'AMD Radeon Vega Frontier Edition DirectX 12 100-506061 16GB 2048-Bit HBM2 Video Card (Air Cooled Model)', N'Free Shipping', 3)
SET IDENTITY_INSERT [dbo].[Products] OFF
USE [master]
GO
