@{
    ViewData["Title"] = "Demo day webscraper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="hash-blog-section">
    <div class="container" style="position: relative;">
        <section class="page-img">
            <section class="hero">
                <h2>I wanted to build a fantasy football app but access to the NFL API was too expensive</h2>
                <h4>(so I built a web scraper and then ended up not using it on NFL.com for legal reasons)</h4>
            </section>
        </section>
    </div>
</div>