@{
    ViewData["Title"] = "Demo day webscraper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="header">
      <h2>My journey into Python</h2>
    </div>
    <div class="row">
        <div id="console">
            <p>The initial response wasn't pretty</p>
            <img src="~/Images/consoleView.PNG" />
        </div>
    </div>
    <div class="row">
        <div id="pretty">
            <p>After running it through the beautifier</p>
            <img src="~/Images/htmlPrettyPrint.PNG" />
        </div>
    </div>
    <div class="row">
        <div id="webscraper">
            <p>After about 5 hours this is what I ended up with</p>
            <img src="~/Images/webscraperCode.PNG" />
        </div>
    </div>
</div>